@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    font-family: "Plus Jakarta Sans", sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    border: none;
}

/*------------------------header-----------------*/

header {
    width: 100%;
    height: 86px;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    background: #EFF0F3;
    position: fixed;
    top: 0;
}

.header-wrapper {
    width: 1252px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: #2B2C34;
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header .search::before {
    content: "";
    display: inline-block;
    width: 13.25px;
    height: 13.25px;
    background-image: url('data:image/svg+xml;utf8,<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.08329 12.7501C8.34057 12.7498 9.56161 12.3289 10.552 11.5544L13.6658 14.6682L14.6674 13.6667L11.5536 10.5528C12.3285 9.56234 12.7497 8.34102 12.75 7.08341C12.75 3.95896 10.2077 1.41675 7.08329 1.41675C3.95883 1.41675 1.41663 3.95896 1.41663 7.08341C1.41663 10.2079 3.95883 12.7501 7.08329 12.7501ZM7.08329 2.83341C9.42717 2.83341 11.3333 4.73954 11.3333 7.08341C11.3333 9.42729 9.42717 11.3334 7.08329 11.3334C4.73942 11.3334 2.83329 9.42729 2.83329 7.08341C2.83329 4.73954 4.73942 2.83341 7.08329 2.83341Z" fill="%232B2C34"/></svg>');
    background-size: cover;

    margin-bottom: 2px;
}

header .coffee::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('/img/coffee.png');
    background-size: cover;
    margin-right: 10px;
}

header .active-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 213px;
    height: 44px;
    border-radius: 4px;
    padding: 10px 17px;
    background-color: #6246EA;
}

header .active-link a {
    color: #FFFFFE;
    width: 145px;
    font-size: 18px;
}

/*---------------------------hero-----------------*/
.hero {
    padding: 271px 0 263px 0;
    background-color: #EFF0F3;
    height: 900px;
    width: 100%;
}

.hero-wrapper {
    width: 1252px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-wrapper > div > :nth-child(1) {
    width: 617px;
    font-weight: 700;
    font-size: 64px;
    text-transform: capitalize;
    color: #2B2C34;
}

.hero-wrapper > div p {
    width: 652px;
    font-weight: 400;
    font-size: 20px;
    margin: 30px 0 30px 0;
}

.hero-wrapper form {
    display: flex;
    align-items: center;
    gap: 20px;
}

input[type="email"] {
    border-radius: 8px;
    padding: 21px 200px 21px 25px;
    width: 444px;
    height: 67px;
    background-color: #FFFFFE;
    text-overflow: ellipsis;
}

input[type="email"]::placeholder {
    font-weight: 400;
    font-size: 20px;
    color: #C0C0C0;
}

input[type="submit"] {
    border-radius: 8px;
    padding: 20px 23px 19px;
    width: 145px;
    height: 67px;
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    color: #FFFFFE;
    background-color: #6246EA;
}

/*--------------------------category--------------*/
.category {
    height: 500px;
    width: 100%;
    background-color: #EFF0F3;
}

.category-wrapper {
    width: 1252px;
    height: 100%;
    margin: 0 auto;
}

.category-wrapper > :first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 69px 0 50px 0;
}

.category-wrapper > :first-child > :first-child {
    font-weight: 700;
    font-size: 24px;
    text-transform: capitalize;
    color: #2B2C34;
}

.category-wrapper > :first-child > :last-child {
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    text-align: right;
}

.category-wrapper > :first-child > :last-child::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 14px;
    margin-left: 12px;
    margin-bottom: -2px;
    background-image: url('data:image/svg+xml;utf8,<svg width="7" height="15" viewBox="0 0 7 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.42694 0.156433C1.56761 0.173435 1.70287 0.223922 1.82343 0.303894C1.94256 0.382974 2.04476 0.488961 2.12518 0.613464L6.22968 6.59882L6.28046 6.67792C6.39149 6.86771 6.45036 7.09108 6.45038 7.31854C6.45038 7.57843 6.3734 7.83297 6.22968 8.03827L6.2287 8.03925L1.97968 14.0256C1.88143 14.1647 1.75447 14.2775 1.60858 14.3517C1.46578 14.4244 1.30917 14.4567 1.15155 14.4474C0.910764 14.4479 0.681764 14.3497 0.503113 14.176C0.402713 14.0782 0.320345 13.9596 0.260925 13.8273C0.201563 13.6951 0.166046 13.5508 0.15448 13.4035C0.142959 13.2563 0.156013 13.1077 0.193542 12.966C0.231052 12.8244 0.291913 12.6914 0.374207 12.5754L0.375183 12.5744L4.12128 7.31171L0.508972 2.04022V2.03925C0.428175 1.92207 0.368065 1.78872 0.332214 1.64667C0.296233 1.50406 0.284677 1.35461 0.298035 1.20721C0.311406 1.05995 0.350176 0.916779 0.411316 0.785339C0.472519 0.653823 0.555496 0.535776 0.657410 0.439636C0.758778 0.336242 0.878471 0.256641 1.00995 0.207214C1.1437 0.156989 1.28613 0.13945 1.42694 0.156433Z" fill="%232B2C34" stroke="%232B2C34" stroke-width="0.3"/></svg>');
    background-size: cover;
}

.category-wrapper .cards {
    display: grid;
    height: 280px;
    grid-template-columns:  repeat(5, 1fr);
    gap: 37px;
}

.category-wrapper .cards .card {
    background-color: #FFFFFE;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 40px;
    gap: 25px;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    transition: 1.5s;
}

.category-wrapper .cards .card:hover {
    background-color: #6246EA;
    box-shadow: 4px 6px 13px 0 rgba(113, 113, 113, 0.25);
    color: #FFFFFE;
    transition: 2s;
}

.category-wrapper .cards .card > div {
    border-radius: 7px;
    width: 60px;
    height: 60px;
    background-color: #FFFFFE;
    position: relative;
}

.category-wrapper .cards .card > div svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.category-wrapper .cards .card p {
    font-weight: 700;
    font-size: 24px;
    text-transform: capitalize;
}